@charset "UTF-8";


body{

    background-color:#003547;
}
p{
    text-align: justify;
     text-indent: 20px;
    padding: 10px;

    color: white;
}
h1 {
   
    color:#E1523D;
}
h1#principal{
    color:#F2CB05;
    text-align: center;
}
h2 {
   background-color: rgb(11, 199, 199);
    color: #F2CB05;
}
.basico{
    color: #DBF227;
}
.inter{
   color: #FFEC5C;
}

.avan{
    color:#FF5A33;
}